<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="gamemaster" connectionString="host=127.0.0.1;database=AnygameMaster;user=aqua;pwd=123456"/>
    <add name="accountdb" connectionString="host=127.0.0.1;database=AnygameMain;user=aqua;pwd=123456"/>
    <add name="analysisdb" connectionString="host=127.0.0.1;database=AnygameAnalysis_s1;user=aqua;pwd=123456"/>

    <add name="mangodbHost" connectionString="127.0.0.1"/>
    <add name="mangodbDatabase" connectionString="anygamedb_s1"/>

    <add name="mangodbLogHost" connectionString="127.0.0.1"/>
    <add name="mangodbLogDatabase" connectionString="anygamedb_s1"/>
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

</configuration>
