<?xml version="1.0"?>
<root>
	<ServerConfig>
		<Tcp>
			<!--<Host>192.168.249.204</Host>-->
			<Host>192.168.2.84</Host>
			<Port>4601</Port>
		</Tcp>
		<ServerId>1</ServerId>
		<LogLevel>debug</LogLevel>
	</ServerConfig>

	<DBConfig>
		<GameMasterMySqlConnectString>host=127.0.0.1;database=AnygameMaster;user=aqua;pwd=123456</GameMasterMySqlConnectString>
		<AccountMySqlConnectString>host=127.0.0.1;database=AnygameMain;user=aqua;pwd=123456</AccountMySqlConnectString>
		<AnalysisMysqlConnectString>host=127.0.0.1;database=AnygameAnalysis_s1;user=aqua;pwd=123456</AnalysisMysqlConnectString>
	</DBConfig>

	<MongoDB>
		<Host>127.0.0.1</Host>
		<Database>anygamedb_s1</Database>
	</MongoDB>

	<GameConfig>
		<IsEnableGM>true</IsEnableGM>
		<ZoneId>1</ZoneId>
		<IsPushAnnouncement>true</IsPushAnnouncement>
	</GameConfig>

	<GameServerManagerConfig>
		<Port>9001</Port>
	</GameServerManagerConfig>
</root>